<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.1" targetFramework="net45" />
  <package id="Akka.DI.Core" version="1.0.1" targetFramework="net45" />
  <package id="Akka.DI.Ninject" version="1.0.1" targetFramework="net45" />
  <package id="Akka.Persistence" version="1.0.1-pre1504282013" targetFramework="net45" />
  <package id="Akka.Persistence.SqlServer" version="1.0.1-pre1504282013" targetFramework="net45" />
  <package id="Faker.Net" version="1.0.3" targetFramework="net45" />
  <package id="Google.ProtocolBuffers" version="2.4.1.521" targetFramework="net45" />
  <package id="knockoutjs" version="3.3.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="mvc-utilities" version="1.13.5.0" targetFramework="net45" />
  <package id="Nancy" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Authentication.Forms" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.Ninject" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Owin" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="1.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.ChildKernel" version="3.2.0.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>