<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="owin:HandleAllRequests" value="true" />
    <add key="SqlSchemaName" value="dbo" />
    <add key="ChatTableName" value="Chat" />
    <add key="UsersTableName" value="Users" />
    <add key="ValidationKey" value="DEAA770B-2B60-41E8-A3A7-0A9E0C61E691" />
  <add key="webPages:Enabled" value="false" /></appSettings>
  <connectionStrings>
    <add name="akkaChat" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\AkkaChat.mdf;Integrated Security=True" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5"><buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders></compilation>
    
    <pages controlRenderingCompatibilityVersion="4.0" />
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
    
  </system.web>
  <system.webServer>
    
    <modules runAllManagedModulesForAllRequests="true" />
    
  <validation validateIntegratedModeConfiguration="false" /><httpErrors existingResponse="PassThrough" /><handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Extensions.ChildKernel" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <akka>
    <hocon>
      <![CDATA[
          akka {
            actor{
              deployment {
                /signalr-writer{
                  router = broadcast-pool
                  nr-of-instances = 1
                }
                
                /signalr-reader{
                  router = broadcast-pool
                  nr-of-instances = 1
                }
              }
            }
            persistence{
              journal {
                plugin = "akka.persistence.journal.sql-server"
                sql-server {
                    class = "Akka.Persistence.SqlServer.Journal.SqlServerJournal, Akka.Persistence.SqlServer"
                    schema-name = dbo
                    auto-initialize = on
                    connection-string = "Data Source=(LocalDB)\\v11.0;AttachDbFilename=|DataDirectory|\\AkkaChat.mdf;Integrated Security=True"
                }
              } 
              snapshot-store{
                plugin = "akka.persistence.snapshot-store.sql-server"
                sql-server {
                    class = "Akka.Persistence.SqlServer.Snapshot.SqlServerSnapshotStore, Akka.Persistence.SqlServer"
                    schema-name = dbo
                    auto-initialize = on
                    connection-string = "Data Source=(LocalDB)\\v11.0;AttachDbFilename=|DataDirectory|\\AkkaChat.mdf;Integrated Security=True"
                }
              }
            } 
          }
      ]]>
    </hocon>
  </akka>
</configuration>